@charset "UTF-8";
@font-face {
    font-family:'Sofa';
    src: url('fonts/sofachrome.regular.ttf') format('truetype');
}

body{
    font-family: 'Arial', 'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 20px;
}

#titulo{
    text-align: center;
    text-indent: 0px;
    color:  #ff0000;
    font-style: italic;
}

#italico{
    font-style: italic;
}

#negrito{
    font-weight: bolder;
}

.corTexto{
    color:  #000dff;
}

.destaque{
    color: #771b81;
    font-weight: bolder;
    font-size: 1.25em;
}