@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
body a:hover{
    text-decoration: underline;
}
header{
    background-color: black;
    color: white;
    height: 25vh;
    position: relative;
}
header > section{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
header h1{
    font-family: 'Passion One', cursive;
    padding: 5px;
    font-size: 2.7em;
    width: 90vw;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 2em;
    text-align: left;
    padding: 0px 50px;

}
main > section > article{
    margin-top: 10vh;
    margin-bottom: 20vh;
}
#containerVs2{
    background-image: url('../images/background001.jpg');
    margin: -50px;
    width: 100vw;
    background-size: cover;
    background-position: fixed;
}
#vrs2{
    color: white;
    padding: 0px 50px;
}
footer{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}